/Common/bin
/Common/obj
/Common.Tests/bin
/Common.Tests/obj
/Consumer/bin
/Consumer/obj
/Producer/bin
/Producer/obj
/Receiver/bin
/Receiver/obj
/DataBase/bin
/DataBase/obj
/MatrixAccess/obj
/MatrixAccess/bin
/MatrixAccess.Tests/obj
/MatrixAccess.Tests/bin
/Consumer.Tests/bin
/Consumer.Tests/obj
/DataGenerator/bin
/DataGenerator/obj
/DataGenerator.Tests/bin
/DataGenerator.Tests/obj
/.vs/
