/Common/bin
/Common/obj
/Common.Tests/bin
/Common.Tests/obj
/MQConsumer/bin
/MQConsumer/obj
/MQProducer/bin
/MQProducer/obj
/MQReceiver/bin
/MQReceiver/obj
/DataBase/bin
/DataBase/obj
/MatrixAccess/obj
/MatrixAccess/bin
/MatrixAccess.Tests/obj
/MatrixAccess.Tests/bin
/MQConsumer.Tests/bin
/MQConsumer.Tests/obj
/DataGenerator/bin
/DataGenerator/obj
/DataGenerator.Tests/bin
/DataGenerator.Tests/obj
/.vs/
