/Common/bin
/Common/obj
/Common.Tests/bin
/Common.Tests/obj
/MQWorker/bin
/MQWorker/obj
/MQProducer/bin
/MQProducer/obj
/MQReceiver/bin
/MQReceiver/obj
/DataBase/bin
/DataBase/obj
/MatrixAccess/obj
/MatrixAccess/bin
/MatrixAccess.Tests/obj
/MatrixAccess.Tests/bin
/MQWorker.Tests/bin
/MQWorker.Tests/obj
/DataGenerator/bin
/DataGenerator/obj
/DataGenerator.Tests/bin
/DataGenerator.Tests/obj
/bin
/.vs/
